body {
    background-image: url("https://images.unsplash.com/photo-1608847421970-f9cf679615f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTZ8fGxhZ29zJTIwbmlnZXJpYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
   
}
.weather-app-wrapper {
    background: linear-gradient(to top, #DAD4EC 0%, #DAD4EC 1%, #F3E7E9 100%);
    border: 6px solid #302619;
    border-radius: 8px;
    padding: 15px;
    font-family: 'PT Serif', serif;
    max-width: 900px;
    margin: 40px 60px 40px 60px;
    font-family: 'PT Serif', serif;
}


.btn {
    border: 5px solid #302619;
    border-radius: 8px;
    padding: 1px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    
}
 .weather-app-wrapper{
    max-width: 900px;
    margin: 30px auto;
}

li {
    text-transform: capitalize;
    list-style: none;
    color: #f65282;
}
.weather-temperature .active {
    color:rgb(33, 33, 33);
    cursor: default;
}
.weather-temperature .active:hover {
    text-decoration: none;
}
.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;

}
.weather-temperature strong {
    color:   #212121;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;

}
.weather-temperature .units {
    position: relative;
    font-size: 18px;
    top: -34px;
    
}
.link {
    text-align: center;
    margin-top: -25px;
    font-size: 25px;
    font-weight: 10px;

}
#city {
    color:   #212121;
    font-weight: 700;

} 
.weather-forecast {
    color: #212121;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 15px;
}

