body {
    background: gray;
}
.great {
    max-width: 900px;
    color:  #000000;
    margin: 40px 60px 40px 60px;
    font-family: 'PT Serif', serif;
}
.search-button {
    text-align: center;
    border: 5px solid #302619;
    border-radius: 8px;
    padding: 1px;
    font-family: 'PT Serif', serif;


}
.btn {
    border: 8px solid #302619;
    border-radius: 8px;
    padding: 1px;
    font-family: 'PT Serif', serif;
    background-color: gray;
    font-weight: bold;
    
}
 .weather-app-wrapper{
    max-width: 900px;
    margin: 30px auto;
}
li {
    text-transform: capitalize;
    list-style: none;
}
.weather-temperature .active {
    color:rgb(33, 33, 33);
    cursor: default;
}
.weather-temperature .active:hover {
    text-decoration: none;
}
.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;

}
.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;

}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}
